<ion-header>
  <ion-toolbar>
    <div class="background-image"></div>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/logo.png" style="display: block; margin: 0 auto; width: 200px; padding: 20px;"></ion-img>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-content>
    <div #mapaElement id="map" style="width: 100%; height: 400px;"></div>
    <p>Latitude: {{ currentLatitude }}</p>
    <p>Longitude: {{ currentLongitude }}</p>

    <ion-item routerLink="/menu">
      <ion-button  expand="block" fill="outline" style="width: 100%;">     
        Volver al Menu
      </ion-button>
    </ion-item>

  </ion-content>

  


</ion-content>

