<ion-header>
  <ion-toolbar>
    <div class="background-image"></div>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/logo.png" style="display: block; margin: 0 auto;"></ion-img>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="content-container background-image">
    <div class="login-container" style="padding: 20px;">
      <div class="input-container">
        <ion-label position="fill" style="font-size: 20px;">Usuario</ion-label>
        <ion-item class="transparent-input">
          
          <ion-input [(ngModel)]="username" type="text" id="username" style="font-size: 20px;"></ion-input>
        </ion-item>
  
        <ion-label position="fill" style="font-size: 20px;">Contraseña</ion-label>

        <ion-item>
          <ion-input [(ngModel)]="password" type="password" id="password" style="font-size: 20px;"></ion-input>
        </ion-item>
      </div>
      

      <ion-item class="transparent-input ion-text-center">
        <ion-button expand="full" fill="solid" color="success" size="large" (click)="login()" style="width: 100%;">Acceder</ion-button>  
      </ion-item>
      

      <ion-item routerLink="/registro">
        <ion-button expand="full" fill="solid" size="large" style="width: 100%;" color="warning">
          Registrese
        </ion-button>
      </ion-item>
            
      


    </div>
      </div>
  
</ion-content>
